body {
  margin: 0;
  padding: 0;
}

.div__main--container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(241, 234, 228, 1);
  margin: 0;
}

.div__content--container {
  width: 40%;
  height: fit-content;
  background-color: white;
  border-radius: 12px;
  display: flex;
}

.div__content--container > img {
  width: 50%;
  object-fit: contain;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.div__image--container {
  width: 50%;
  height: 100%;
  background-image: url("./images/image-product-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.div__content-body--container {
  width: 50%;
  height: 100%;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: inherit;
}

.span__product-type {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}

.span__product-name {
  font-size: 32px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: rgba(0, 0, 0, 1);
}
.span__product-description {
  font-size: 12px;
  font-family: monospace;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
}

.div__product-price {
  display: flex;
  gap: 20px;
  align-items: center;
}
.span__official-price {
  font-size: 30px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: rgba(65, 127, 104, 1);
}

.span__origin-price {
  font-size: 12px;
  font-family: monospace;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}

.button {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  border: none;
  background-color: rgba(65, 127, 104, 1);

  border-radius: 6px;
  color: white;
}
.button:hover {
  cursor: pointer;
  background-color: rgba(27, 65, 50, 1);
}

@media only screen and (max-width: 400px) {
  .div__content--container {
    flex-direction: column;
    width: 90%;
    height: fit-content;
  }

  .div__content--container > img {
    width: 100%;
    content: url("./images/image-product-mobile.jpg");
    border-top-right-radius: inherit;
    border-bottom-left-radius: 0%;
  }

  .div__content-body--container {
    width: 100%;

    padding: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: inherit;
  }
}
